/* Track */
::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

@media (prefers-color-scheme: dark) {
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #1e88e5; /* color of the scrollbar thumb */
    border-radius: 6px; /* roundness of the scrollbar thumb */
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: white; /* color of the scrollbar thumb on hover */
  }
}

@media (prefers-color-scheme: light) {
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #1e88e5; /* color of the scrollbar thumb */
    border-radius: 6px; /* roundness of the scrollbar thumb */
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: black; /* color of the scrollbar thumb on hover */
  }
}
